*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #34b3b8;
    font-family: 'Roboto', sans-serif;
}

button{
    width: 50px;
    height: 50px;
    font-size: 20px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}
#row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.calc{
    background: #CCC;
    justify-content: center;
    align-self: center;
    width: 300px;
    margin-top: 100px;
    margin-left: 500px;
    height: auto;
    border: 1px solid #000;
}
h2,#display{
    color: #fff;
    text-align: center;
    margin: 20px 0 20px 0;
}
#col{
    
}
.igual button{
    width: 240px;
    height: 50px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
}
#display{
    display: flex;
    background: #000;
    width: 240px;
    height: 50px;
    margin-left: 30px;
    justify-content: end;
    align-items: center;
    font-size: 20px;

}
